/* base.html */ 
body {
    display: flex; margin: 0; padding: 0; flex-direction: column; height: 100%;
}
.navbar {
    background-color: rgb(11, 148, 11);
}
.navbarbuttons {
    color: white !important;
}
section {
    flex: 1 0 auto;
    margin: 0 30px 0 30px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}
#containerbase{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 50px;
    align-items: center;
    border-bottom: 1px solid green;
}
#containerbase2{
    display: flex;
    column-gap: 120px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    row-gap: 20px;
}
#acessar{
    width: 280px;
    height: 50px;
    background-color: rgb(11, 148, 11);
    border-color: rgb(11, 148, 11);
    font-size: 20px;
    border-radius: 4px;
}
#containerbase2 button{
    background-color: rgb(11, 148, 11);
}
html{
    scroll-behavior: smooth;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}
.textosiniciais {
    color: rgb(58, 54, 54);
    font-size: 20px;
}
#textos {
    margin-bottom: 20px;
}
h1 {
    color: #3A3636;
    font-size: 40px;
}
#containerbase2 img {
    width: 150px;
    height: 143px;
    border-radius: 50%;
}
#imginicial {
    width: 500px;
    height: 500px;
}
.p1 {
    text-align: center; margin-top: 40px; font-size: 30px; color: rgb(11, 148, 11);
}
.p2 {
    text-align: center; color: rgb(58, 54, 54); font-size: 15px;
}
.p3 {
    margin: 0px 0px 5px 0px;
}
#div5 {
    color: white; margin-top: 10px; margin-left: 20px;
}
footer {
    flex-shrink: 0; display: flex; justify-content: space-between; background-color: rgb(11, 148, 11);
}
#imgfooter {
    width: 80px; height: 100px; margin-right: 10px; margin-top: 10px;
}
@media (min-width: 199px) and (max-width: 500px){
    #imginicial{width: 350px; height: 350px;}
}
@media (min-width: 199px) and (max-width: 350px){
    #imginicial{width: 199px; height: 199px;}
}
@media (min-width: 199px) and (max-width: 319px){
    #acessar{width: 199px; height: 50px; font-size: 1px;}
}
/* ------------------------------------------- */
