{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'materiais_apoio/css/material_apoio.css' %}">

<div class="catalogo">

    <header class="titulo-pagina">
        <h1>Materiais de Apoio</h1>

        <p>
            Explore materiais didáticos desenvolvidos para auxiliar o ensino e a aprendizagem da Matemática por meio de recursos interativos.
        </p>
    </header>

    {% if questao or figura or jogo %}

    <!-- ================= QUESTÕES ================= -->

    {% if questao %}
    <section class="secao-categoria">

        <div class="titulo-secao">
            <h2>
                Questões<br>
                Modeladas
            </h2>
        </div>

        <div class="grid" data-items="8">

            {% for q in questao %}

            <a href="{% url 'app:materiais_apoio:questaomodelada_detail' q.id %}" class="card">

                <div class="card-img-wrapper">
                    <img src="{{ q.capa.url }}" alt="{{ q.questao.numero }}">
                </div>

                <div class="card-body">

                    <h3>Questão {{ q.questao.numero }} - {{ q.questao.ano }}</h3>

                    <p class="card-descricao">
                        {{ q.questao.conteudo }}
                    </p>

                </div>

            </a>

            {% endfor %}

        </div>

    </section>
    {% endif %}



    <!-- ================= FIGURAS ================= -->

    {% if figura %}
    <section class="secao-categoria">

        <div class="titulo-secao">
            <h2>
                Figuras<br>
                Modeladas
            </h2>
        </div>

        <div class="grid" data-items="8">

            {% for f in figura %}

            <a href="{% url 'app:materiais_apoio:figura_detail' f.id %}" class="card">

                <div class="card-img-wrapper">
                    <img src="{{ f.capa.url }}" alt="{{ f.nome_figura }}">
                </div>

                <div class="card-body">

                    <h3>{{ f.nome_figura }}</h3>

                    <ul class="card-descricao">
                        {% if f.impressora_3d %}
                            <li>Impressora 3D</li>
                        {% endif %}
                        {% if f.cortadora_laser %}
                            <li>Cortadora Laser</li>
                        {% endif %}   
                    </ul>


                </div>

            </a>

            {% endfor %}

        </div>

    </section>
    {% endif %}



    <!-- ================= JOGOS ================= -->

    {% if jogo %}
    <section class="secao-categoria">

        <div class="titulo-secao">
            <h2>
                Jogos<br>
                Matemáticos
            </h2>
        </div>

        <div class="grid" data-items="8">

            {% for j in jogo %}

            <a href="{% url 'app:materiais_apoio:jogo_detail' j.id %}" class="card">

                <div class="card-img-wrapper">
                    <img src="{{ j.capa.url }}" alt="{{ j.nome_jogo }}">
                </div>

                <div class="card-body">

                    <h3>{{ j.nome_jogo }}</h3>

                    <div class="card-descricao">
                        {{ j.descricao|striptags|cut:"&nbsp;"|truncatewords:15 }}
                    </div>


                </div>

            </a>

            {% endfor %}

        </div>

    </section>
    {% endif %}

    {% else %}

    <div class="vazio">

        <h2>Nenhum material disponível</h2>

        <p>
            Novos materiais serão publicados em breve.
        </p>

    </div>

    {% endif %}

</div>
<script src="{% static 'materiais_apoio/js/pagination.js' %}"></script>
{% endblock %}