{% load static %}
<!DOCTYPE html>
<html lang="pt-br" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML"></script>
    <title>ENEMática</title>
    <!-- This css is here cause it will be inherit by the other templates, is the nav and footer css-->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Kanit:ital,wght@0,300;0,400;1,300&family=Tillana:wght@600&display=swap');
      *{font-family:"Kanit", sans-serif;}
      #navHome{display: flex; justify-content: center; height: 100px; align-items: center; column-gap: 30px; background: #ebebe0; padding-bottom: 20px; padding-top: 20px; border-bottom: 1px solid green; flex-wrap: wrap;}
      #navHome a{color: green; text-decoration: none!important; font-size: 25px; border-bottom: 3px solid transparent;}
      #navHome a:hover{border-color: green; color: green;}
      footer{background: #99ff99; margin-top: auto;}
      footer button{background: transparent;}
      .btn-primary{background: none; color: black; border: none;}
      footer div .btn-primary:first-child:hover{background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat; -webkit-background-clip: text; background-clip: text; color: transparent; -webkit-text-fill-color: transparent}
      footer div .btn-primary:nth-child(2):hover{color: red!important;}
      footer .p-3{color: #212529!important; background: #80ff80;}
      .ml-2, .mx-2{margin: 0!important;}
      .btn-primary:focus, .btn-primary:active, .btn-primary:hover{color: black!important; outline: none!important; box-shadow: none!important; background-color: transparent!important;}
      .btn-group-lg > .btn, .btn-lg{font-size: 1.8rem!important; padding: 0.5rem!important;}
      .fa-instagram:hover{color: transparent; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); background-clip: text; -webkit-background-clip: text;}
      @media(max-width: 454px){#navHome{height: auto;}}
    </style>
</head>
<body id="body" style="display: flex; margin:0; padding:0; flex-direction: column; height: 100%; width: 100%;">
  <!--Navbar-->
  <nav id="navHome" class="fixed-top">
    <a href="{% url 'app:base' %}">Início</a>
    <a href="{% url 'app:questoes' %}">Questões</a>
    <a href="{% url 'app:resumos' %}">Resumos</a>
    <a href="{% url 'app:galeria' %}">Galeria</a>
    <a href="">Simulado</a>
  </nav>
{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>


  <!-- Container1 -->
  <div id="container1">
    <div>
      <img src="{% static 'imagens/logo.png' %}">
    </div>
    <div>
      <h3><b>ENEMática</b></h3>
      <p>Pensando na dificuldade de estudo de alunos que se preparam para a prova do ENEM e na preparação de material de professores de ensino fundamental e médio, é apresentado o projeto da ENEMática, uma plataforma online que reúne questões de matemática do ENEM separadas por ano, conteúdo, dificuldade e palavra-chave. Em 2023, a plataforma passou a ser utilizada pelos integrantes da equipe em encontros didáticos de matemática com as diversas escolas de Vacaria.</p>
    </div>
  </div>


  <!-- container2 -->
  <h3 class="h3divs"><b>Equipe</b></h3>
  <div id="container2">
    <div>
      <img src="{% static 'imagens/marcelo.jpeg' %}">
      <h3><b>Marcelo Maraschin</b></h3>
      <p>Coordenador</p>
    </div>
    <div>
      <img src="{% static 'imagens/ricardo.jpg' %}">
      <h3><b>Ricardo Luis</b></h3>
      <p>Ex-colaborador</p>
    </div>
    <div>
      <img  src="{% static 'imagens/maria.jpg' %}">
      <h3><b>Maria Paim</b></h3>
      <p>Ex-bolsista</p>
    </div>
    <div>
      <img src="{% static 'imagens/vinicius.jpg' %}">
      <h3><b>Vinícius Lodi</b></h3>
      <p>Bolsista</p>
    </div>
    <div>
      <img src="{% static 'imagens/gabriel.jpeg' %}">
      <h3><b>Gabriel Athaydes</b></h3>
      <p>Bolsista</p>
    </div>
    <div>
      <img src="{% static 'imagens/gabriela.jpeg' %}">
      <h3><b>Gabriela Teixeira</b></h3>
      <p>Bolsista Voluntária</p>
    </div>
    <div>
      <img src="{% static 'imagens/lais.jpeg' %}">
      <h3><b>Laís Mayane</b></h3>
      <p>Bolsista Voluntária</p>
    </div>
    <div>
      <img src="{% static 'imagens/erika.jpeg' %}">
      <h3><b>Érika Lima</b></h3>
      <p>Bolsista Voluntária</p>
    </div>
  </div>


  <!--container3 -->
  <h3 class="h3divs"><b>Fale conosco</b></h3>
  <div id="container3">
    <form action="https://formsubmit.co/enematica@vacaria.ifrs.edu.br" method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" name="_subject" class="form-control" id="formGroupExampleInput" placeholder="Nome" required>
        </div>
        <div class="form-group col-md-6">
          <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="E-mail" required>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" placeholder="Mensagem" rows="3" required autocomplete="off"></textarea>
      </div>
      <div id="div2contato">
        <button type="submit" id="buttoncontato" class="btn">Enviar mensagem</button>
      </div>
      <div>
        <input type="hidden" name="_url" value="http://enematica.vacaria.ifrs.edu.br">
      </div>
      <div>
        <input type="hidden" name="_next" value="http://enematica.vacaria.ifrs.edu.br/thanks/">
      </div>
  </div>


{% endblock content %}

  <!-- Footer-->
  <footer class="text-center text-lg-start">
    <div class="container d-flex justify-content-center py-5">
      <button type="button" onclick="location.href='http://enematica.vacaria.ifrs.edu.br/'" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-google"></i>
      </button>
      <button type="button" onclick="location.href='https://www.youtube.com/@enematica3076'" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-youtube"></i>
      </button>
      <button type="button" onclick="location.href='https://www.instagram.com/enematica_ifrs/'" class="btn btn-primary btn-lg btn-floating mx-2">
        <i class="fab fa-instagram"></i>
      </button>
    </div>
    <div class="text-center text-white p-3">
      © 2023 ENEMática - IFRS Campus Vacaria
    </div>
  </footer>
</body>
</html>
