{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/equipe.css' %}">
</head><br>
    <p id="p1equipe"><b>Equipe</b></p>
    <p id="p2equipe"><b>Conheça a nossa equipe!</b></p><br>
    <div id="div1equipe">
        <div class="divsequipe">
            <img class="imgsequipe" src="https://www.iconpacks.net/icons/1/free-user-icon-244-thumb.png">
            <p class="p3equipe"><b>Coordenador:</b></p>
            <p class="p4equipe"><b>Marcelo Maraschin de Souza</b></p>
        </div>
        <div class="divsequipe">
            <img class="imgsequipe" src="{% static 'imagens/ricardo.jpg' %}">
            <p class="p3equipe"><b>Colaborador:</b></p>
            <p class="p4equipe"><b>Ricardo Luis dos Santos</b></p>
        </div>
        <div class="divsequipe">
            <img class="imgsequipe" src="{% static 'imagens/maria.jpg' %}">
            <p class="p3equipe"><b>Bolsista (2021, 2022):</b></p>
            <p class="p4equipe"><b>Maria Eduarda Borges Paim</b></p>
        </div>
        <div class="divsequipe">
            <img class="imgsequipe" src="{% static 'imagens/vinicius.jpg' %}">
            <p class="p3equipe"><b>Bolsista (2022, 2023):</b></p>
            <p class="p4equipe"><b>Vinícius Eduardo Lima Lodi</b></p>
        </div>
        <div class="divsequipe">
            <img class="imgsequipe" src="{% static 'imagens/gabriel.jpeg' %}">
            <p class="p3equipe"><b>Bolsista (2023):</b></p>
            <p class="p4equipe"><b>Gabriel Pereira de Athaydes</b></p>
        </div>
{% endblock %}