{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <link rel="stylesheet" href="{% static 'css/questoes.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script type="text/javascript" src="{% static 'js/questoes2.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
</head>

<!-- Filtering buttons for medium and big resolutions as pc-->
<form method="GET" style="margin-top: 110px;" id="filtro">
<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
  <div>
    <p style="text-align: center; margin-bottom: 1px; color: green; font-size: 20px;">Conteúdo</p>
    <select name="conteudos" id="conteudos" multiple>
        <option value="Análise Combinatória">Análise Combinatória</option>
        <option value="Análise Dimensional">Análise Dimensional</option>
        <option value="Ângulo">Ângulo</option>
        <option value="Aritmética">Aritmética</option>
        <option value="Conjuntos">Conjuntos</option>
        <option value="Contagem">Contagem</option>
        <option value="Conversão de unidades">Conversão de unidades</option>
        <option value="Equação do 1° grau">Equação do 1° grau</option>
        <option value="Equação do 2° grau">Equação do 2° grau</option>
        <option value="Estatística (análise de gráficos)">Estatística (análise de gráficos)</option>
        <option value="Estatística (análise de tabela)">Estatística (análise de tabela)</option>
        <option value="Estatística (média aritmética)">Estatística (média aritmética)</option>
        <option value="Estatística (média ponderada)">Estatística (média ponderada)</option>
        <option value="Estatística (mediana)">Estatística (mediana)</option>
        <option value="Estatística (moda)">Estatística (moda)</option>
        <option value="Função do 1° grau">Função do 1° grau</option>
        <option value="Função exponencial">Função exponencial</option>
        <option value="Função trigonométrica">Função trigonométrica</option>
        <option value="Funções - análise de gráfico">Funções - análise de gráfico</option>
        <option value="Geometria analítica">Geometria analítica</option>
        <option value="Geometria espacial">Geometria espacial</option>
        <option value="Geometria plana">Geometria plana</option>
        <option value="Inequações">Inequações</option>
        <option value="Logaritmo">Logaritmo</option>
        <option value="Matemática financeira">Matemática financeira</option>
        <option value="Matrizes">Matrizes</option>
        <option value="Notação científica">Notação científica</option>
        <option value="Orientação espacial">Orientação espacial</option>
        <option value="Porcentagem">Porcentagem</option>
        <option value="Potenciação">Potenciação</option>
        <option value="Plano cartesiano">Plano cartesiano</option>
        <option value="Probabilidade">Probabilidade</option>
        <option value="Progressão aritmética">Progressão aritmética</option>
        <option value="Progressão geométrica">Progressão geométrica</option>
        <option value="Projeção ortogonal">Projeção ortogonal</option>
        <option value="Razão e proporção">Razão e proporção</option>
        <option value="Regra de três">Regra de três</option>
        <option value="Sequências">Sequências</option>
        <option value="Sistemas lineares">Sistemas lineares</option>
        <option value="Trigonometria">Trigonometria</option>
        <option value="Todos" selected>Todos</option>
    </select>
  </div>
  <div>
    <p style="text-align: center; margin-bottom: 1px; color: green; font-size: 20px;">Ano</p>
    <select name="anos" id="anos" multiple>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="Todos" selected>Todos</option>
    </select>
  </div>
  <div>
    <p style="text-align: center; margin-bottom: 1px; color: green; font-size: 20px;">Dificuldade</p>
    <select name="dificuldades" id="dificuldades" multiple>
        <option value="Fácil">Fácil</option>
        <option value="Médio">Médio</option>
        <option value="Difícil">Difícil</option>
        <option value="Todos" selected>Todos</option>
    </select>
  </div>
</div>
  <input type="text" hidden="hidden" name="anos2" id="anos2" value="">
  <input type="text" hidden="hidden" name="conteudos2" id="conteudos2" value="">
  <input type="text" hidden="hidden" name="dificuldades2" id="dificuldades2" value="">
<div style="justify-content: center; display: flex;">
  <input style="margin-top: 10px; margin-bottom: 10px; height: 50px; width: 80px; font-size: 18px;" class="responder" type="submit" id="submeter" value="Filtrar" onclick="EnviarDados()">
</div>
</form>

<!-- Iframe helps to not reload the page when the answer button is clicked-->
<iframe name="ola" class="hide"></iframe>

<!-- Modal for the videos-->
<div data-backdrop="static" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="modalContent" class="modal-content">
      <div class="modal-header">
        <button onclick="StopVideo()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe id="videoYt" src="" width="100%" height="100%" allow="fullscreen"></iframe>
      </div>
    </div>
  </div>
</div>

<!-- If to see if are there questions in the database-->
{% if object_list %}
  <!-- Div that shows the total pages and questions-->
  <div id="showNumbers">
    <p><b>Página:</b> <span>{{page_obj.number}} de {{page_obj.paginator.num_pages}}</span></p>
    <p><b>Total de questões:</b> <span>{{page_obj.paginator.count}}</span></p>
  </div>
  <!-- For in the database-->
  {% for questoe in object_list %}
    <!-- Questions header -->
    <div class="headerquestion">
        <span><b>Número:</b> {{questoe.numero}}&nbsp&nbsp</span>
        <span><b>Ano:</b> {{questoe.ano}}&nbsp&nbsp</span>
        <span><b>Dificuldade:</b> {{questoe.dificuldade}}&nbsp&nbsp</span>
        <span><b>Conteúdo:</b> {{questoe.conteudo}}&nbsp&nbsp</span>
    </div>
    <!-- Questions body-->
    <div class="bodyquestion" id="question{{questoe.id}}">
        <span>{{questoe.enunciado | safe}}</span>
    </div>
    <!-- Questions footer -->
    <div class="answerquestion">
        <!-- Form that encapsulate the radio buttons according to the question-->
        <form action="{% url 'app:questoes' %}" method="GET" target="ola" id="questao">
          <!-- Count the position of the for-->
          {% with separador=forloop.counter %}
                <!-- Radio buttons and data of the first question -->
                {% if separador == 1 %}
                  <label>
                    <input type="radio" name="radio" value="a"/>
                    <span class="spanOne">A</span>{{questoe.alternativa_a | safe}}
                  </label><br>
                  <label class="labelAdjust">
                    <input type="radio" name="radio" value="b"/>
                    <span class="spanOne">B</span>{{questoe.alternativa_b | safe}}
                  </label><br>
                  <label class="labelAdjust">
                    <input type="radio" name="radio" value="c"/>
                    <span class="spanOne">C</span>{{questoe.alternativa_c | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio" value="d"/>
                    <span class="spanOne">D</span>{{questoe.alternativa_d | safe}}
                  </label><br>
                  <label class="labelAdjust">
                    <input type="radio" name="radio" value="e"/>
                    <span class="spanOne">E</span>{{questoe.alternativa_e | safe}}
                  </label>
                    <input type="hidden" value={{questoe.id}}>
                    <input type="hidden" value="{{questoe.resposta_certa}}">
                    <div class="finalcontainer">
                        <input type="submit" class="responder" id="responder" value="Responder" name="responder1" onclick="ResponderOne()"><br><br>
                        <span class="resposta" hidden="hidden" id="errorform1"> Você errou! A resposta correta é a letra <b>{{questoe.resposta_certa | capfirst}}</b></span>
                        <span class="respostacerta" hidden="hidden" id="certoform1"> Parabéns! Você acertou!</span>
                    </div>
                  <!--Itens in the end of a question-->
                  <div class="QuestionOptions">
                    <div onclick="ShowVideoOne()" class="ButtonVideo" id="ButtonVideoOne" data-toggle="modal" data-target="#exampleModalCenter">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                      </svg>
                      <span>Videoaula comentada</span>
                    </div>
                  </div>
                <!-- Radio buttons and data of the second question -->
                {% elif separador == 2 %}
                  <label>
                    <input type="radio" name="radio2" value="a"/>
                    <span class="spanOne">A</span>{{questoe.alternativa_a | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio2" value="b"/>
                    <span class="spanOne">B</span>{{questoe.alternativa_b | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio2" value="c"/>
                    <span class="spanOne">C</span>{{questoe.alternativa_c | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio2" value="d"/>
                    <span class="spanOne">D</span>{{questoe.alternativa_d | safe}}
                  </label><br>
                  <label class="labelAdjust">
                    <input type="radio" name="radio2" value="e"/>
                    <span class="spanOne">E</span>{{questoe.alternativa_e | safe}}
                  </label>
                    <input type="hidden" value={{questoe.id}}>
                    <input type="hidden" value="{{questoe.resposta_certa}}">
                    <div class="finalcontainer">
                        <input type="submit" class="responder" id="responder2" value="Responder" name="responder2" onclick="ResponderTwo()">
                        <span class="resposta" hidden="hidden" id="errorform2"> Você errou! A resposta correta é a letra <b>{{questoe.resposta_certa | capfirst}}</b></span>
                        <span class="respostacerta" hidden="hidden" id="certoform2"> Parabéns! Você acertou!</span>
                    </div>
                    <!--Itens in the end of a question-->
                    <div class="QuestionOptions">
                      <div onclick="ShowVideoTwo()" class="ButtonVideo" id="ButtonVideoOne" data-toggle="modal" data-target="#exampleModalCenter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                        </svg>
                        <span>Videoaula comentada</span>
                      </div>
                    </div>
                <!-- Radio buttons and data of the third question -->
                {% elif separador == 3 %}
                  <label>
                    <input type="radio" name="radio3" value="a"/>
                    <span class="spanOne">A</span>{{questoe.alternativa_a | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio3" value="b"/>
                    <span class="spanOne">B</span>{{questoe.alternativa_b | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio3" value="c"/>
                    <span class="spanOne">C</span>{{questoe.alternativa_c | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio3" value="d"/>
                    <span class="spanOne">D</span>{{questoe.alternativa_d | safe}}
                  </label><br>
                  <label class="labelAdjust">
                    <input type="radio" name="radio3" value="e"/>
                    <span class="spanOne">E</span>{{questoe.alternativa_e | safe}}
                  </label>
                    <input type="hidden" value={{questoe.id}}>
                    <input type="hidden" value="{{questoe.resposta_certa}}">
                    <div class="finalcontainer">
                        <input type="submit" class="responder" id="responder3" value="Responder" name="responder3" onclick="ResponderThree()"><br><br>
                        <span class="resposta" hidden="hidden" id="errorform3"> Você errou! A resposta correta é a letra <b>{{questoe.resposta_certa | capfirst}}</b></span>
                        <span class="respostacerta" hidden="hidden" id="certoform3"> Parabéns! Você acertou!</span>
                    </div>
                    <!--Itens in the end of a question-->
                    <div class="QuestionOptions">
                      <div onclick="ShowVideoThree()" class="ButtonVideo" id="ButtonVideoOne" data-toggle="modal" data-target="#exampleModalCenter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                        </svg>
                        <span>Videoaula comentada</span>
                      </div>
                    </div>
                <!-- Radio buttons and data of the fourth question -->
                {% elif separador == 4 %}
                  <label>
                    <input type="radio" name="radio4" value="a"/>
                    <span class="spanOne">A</span>{{questoe.alternativa_a | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio4" value="b"/>
                    <span class="spanOne">B</span>{{questoe.alternativa_b | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio4" value="c"/>
                    <span class="spanOne">C</span>{{questoe.alternativa_c | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio4" value="d"/>
                    <span class="spanOne">D</span>{{questoe.alternativa_d | safe}}
                  </label><br>
                  <label class="labelAdjust">
                    <input type="radio" name="radio4" value="e"/>
                    <span class="spanOne">E</span>{{questoe.alternativa_e | safe}}
                  </label>
                    <input type="hidden" value={{questoe.id}}>
                    <input type="hidden" value="{{questoe.resposta_certa}}">
                    <div class="finalcontainer">
                        <input type="submit" class="responder" id="responder4" value="Responder" name="responder4" onclick="ResponderFour()"><br><br>
                        <span class="resposta" hidden="hidden" id="errorform4"> Você errou! A resposta correta é a letra <b>{{questoe.resposta_certa | capfirst}}</b></span>
                        <span class="respostacerta" hidden="hidden" id="certoform4"> Parabéns! Você acertou!</span>
                    </div>
                    <!--Itens in the end of a question-->
                    <div class="QuestionOptions">
                      <div onclick="ShowVideoFour()" class="ButtonVideo" id="ButtonVideoOne" data-toggle="modal" data-target="#exampleModalCenter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                        </svg>
                        <span>Videoaula comentada</span>
                      </div>
                    </div>
                <!-- Radio buttons and data of the fifth question -->
                {% elif separador == 5 %}
                  <label>
                    <input type="radio" name="radio5" value="a"/>
                    <span class="spanOne">A</span>{{questoe.alternativa_a | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio5" value="b"/>
                    <span class="spanOne">B</span>{{questoe.alternativa_b | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio5" value="c"/>
                    <span class="spanOne">C</span>{{questoe.alternativa_c | safe}}
                  </label>
                  <br/>
                  <label class="labelAdjust">
                    <input type="radio" name="radio5" value="d"/>
                    <span class="spanOne">D</span>{{questoe.alternativa_d | safe}}
                  </label><br>
                  <label class="labelAdjust">
                    <input type="radio" name="radio5" value="e"/>
                    <span class="spanOne">E</span>{{questoe.alternativa_e | safe}}
                  </label>
                    <input type="hidden" value={{questoe.id}}>
                    <input type="hidden" value="{{questoe.resposta_certa}}">
                    <div class="finalcontainer">
                        <input type="submit" class="responder" id="responder5" value="Responder" name="responder5" onclick="ResponderFive()"><br><br>
                        <span class="resposta" hidden="hidden" id="errorform5"> Você errou! A resposta correta é a letra <b>{{questoe.resposta_certa | capfirst}}</b></span>
                        <span class="respostacerta" hidden="hidden" id="certoform5"> Parabéns! Você acertou!</span>
                    </div>
                    <!--Itens in the end of a question-->
                    <div class="QuestionOptions">
                      <div onclick="ShowVideoFive()" class="ButtonVideo" id="ButtonVideoOne" data-toggle="modal" data-target="#exampleModalCenter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                          <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
                        </svg>
                        <span>Videoaula comentada</span>
                      </div>
                    </div>
                {% endif %}
            {% endwith %}
        </form>
        <!--This script needs to stay here, it takes the questions answer and link to provide them to the javascript-->
        <script>
          resposta.push('{{questoe.resposta_certa}}');
          links.push('{{questoe.link}}');
        </script>
  {% endfor %}

  <!-- Pagination -->
  <nav aria-label="Page navigation example" id="navfacil">
    <ul class="pagination" id="pagination">
        <!-- Pagination if the user chose a filter -->
        {% if request.GET.anos2 or request.GET.dificuldades2 or request.GET.conteudos2 %}
            {% if page_obj.has_other_pages %}
            <div class="btn-group" role="group" aria-label="Item pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link listafacil" href="/questoes/?page=1&anos2={{request.GET.anos2}}&dificuldades2={{request.GET.dificuldades2}}&conteudos2={{request.GET.conteudos2}}">&laquo;</a></li>
                {% endif %}
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_number %}
                        <li class="page-item selecionado" id="{{page_obj.number}}"><a class="page-link listafacil" id="selecionado">{{page_obj.number}}</a><li>
                    {% elif page_obj.number < page_number|add:'+4' and page_obj.number > page_number|add:'-4'%}
                        <li class="page-item" id="listafacil{{page_number}}"><a class="page-link listafacil" href="/questoes/?page={{page_number}}&anos2={{request.GET.anos2}}&dificuldades2={{request.GET.dificuldades2}}&conteudos2={{request.GET.conteudos2}}">{{page_number}}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link listafacil" href="/questoes/?page={{page_obj.paginator.num_pages}}&anos2={{request.GET.anos2}}&dificuldades2={{request.GET.dificuldades2}}&conteudos2={{request.GET.conteudos2}}">&raquo;</a></li>
                {% endif %}
            </div>
            {% endif %}
        <!-- Pagination if the user didn't choose a filter-->
        {% else %}
            {% if page_obj.has_other_pages %}
            <div class="btn-group" role="group" aria-label="Item pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link listafacil" href="?page=1">&laquo;</a></li>
                {% endif %}
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_number %}
                        <li class="page-item selecionado" id="{{page_obj.number}}"><a class="page-link listafacil" id="selecionado">{{page_obj.number}}</a><li>
                    {% elif page_obj.number < page_number|add:'+4' and page_obj.number > page_number|add:'-4'%}
                        <li class="page-item" id="listafacil{{page_number}}"><a class="page-link listafacil" href="?page={{page_number}}"> {{ page_number }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link listafacil" href="?page={{page_obj.paginator.num_pages}}">&raquo;</a></li>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
    </ul>
  </nav>
<!-- If the returned queryset lenght is zero -->
{% else %}
  <p id="noQuestion">Não foram encontradas questões com os filtros escolhidos!</p>
{% endif %}
<!-- Second javascript file, needs to stay here-->
<script type="text/javascript" src="{% static 'js/questoes.js' %}"></script>
{% endblock content %}
