{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/resumos.css' %}">
</head>

<!-- Images container-->
<div id="imagens">
{% for resumo in object_list %}
    <div>
        <img src="{{resumo.imagem.url}}" alt=""> 
    </div>
{% endfor %}
</div>

<!-- Images popup-->
<div class="popup-img">

    <h3></h3>

    <span class="fechar">&times;</span>

    <!-- Setas -->
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>

    <img src="" alt="">

</div>

<script src="{% static 'js/galeriaresumos.js' %}"></script>

{% endblock content %}