{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Se quiser pode linkar um CSS específico para essa página aqui -->
<head>
  <link rel="stylesheet" href="{% static 'css/sobre_nos.css' %}">
</head>

<h3 class="h3divs"><b>Equipe</b></h3>
<div id="container1">
  <div>
    <img src="{% static 'imagens/marcelo.jpeg' %}">
    <h3><b>Marcelo Maraschin</b></h3>
    <p>Coordenador</p>
  </div>
  <div>
    <img src="{% static 'imagens/ricardo.jpg' %}">
    <h3><b>Ricardo Luis</b></h3>
    <p>Ex-colaborador</p>
  </div>
  <div>
    <img src="{% static 'imagens/maria.jpg' %}">
    <h3><b>Maria Paim</b></h3>
    <p>Ex-bolsista</p>
  </div>
  <div>
    <img src="{% static 'imagens/vinicius.jpg' %}">
    <h3><b>Vinícius Lodi</b></h3>
    <p>Ex-Bolsista</p>
  </div>
  <div>
    <img src="{% static 'imagens/gabriel.jpeg' %}">
    <h3><b>Gabriel Athaydes</b></h3>
    <p>Ex-Bolsista</p>
  </div>
  <div>
    <img src="{% static 'imagens/gabriela.jpeg' %}">
    <h3><b>Gabriela Teixeira</b></h3>
    <p>Ex-Bolsista</p>
  </div>
  <div>
    <img src="{% static 'imagens/lais.jpeg' %}">
    <h3><b>Laís Mayane</b></h3>
    <p>Ex-Bolsista Voluntária</p>
  </div>
  <div>
    <img src="{% static 'imagens/erika.jpeg' %}">
    <h3><b>Érika Lima</b></h3>
    <p>Ex-Bolsista Voluntária</p>
  </div>
  <div>
    <img src="{% static 'imagens/gabrielp.jpg' %}">
    <h3><b>Gabriel Paim</b></h3>
    <p>Ex-Bolsista Voluntário</p>
  </div>
  <div>
    <img src="{% static 'imagens/antonieli.jpg' %}">
    <h3><b>Antonieli Fernandes</b></h3>
    <p>Ex-Bolsista</p>
  </div>
  <div>
    <img src="{% static 'imagens/cristhian.jpg' %}">
    <h3><b>Cristhian Michels</b></h3>
    <p>Bolsista</p>
  </div>
  <div>
    <img src="{% static 'imagens/lorenzo.jpg' %}">
    <h3><b>Lorenzo Lisboa</b></h3>
    <p>Bolsista</p>
  </div>
</div>

{% endblock content %}