/* base.html */ 
body {
    display: flex; margin: 0; padding: 0; flex-direction: column; height: 100%;
}
.navbar {
    background-color: rgb(11, 148, 11);
}
.navbarbuttons {
    color: white !important;
}
section {
    flex: 1 0 auto;
}
.carousel-inner {
    height: 400px;
}
.img {
    height: 800px;
}
.p1 {
    text-align: center; margin-top: 40px; font-size: 30px; color: rgb(11, 148, 11);
}
.p2 {
    text-align: center; color: rgb(58, 54, 54); font-size: 15px;
}
.p3 {
    margin: 0px 0px 5px 0px;
}
#div0 {
    display: flex; justify-content: center;
}
#div1 {
    word-wrap: break-word; width: 750px; margin-left: 15px; margin-right: 15px !important;
}
#div2 {
    display: flex; justify-content: center; column-gap: 20px; row-gap: 15px; flex-wrap: wrap;
}
#div3 {
    display: flex; justify-content: center; column-gap: 50px; flex-wrap: wrap; row-gap: 15px;
}
#div4 {
    display: flex; justify-content: center; column-gap: 50px; flex-wrap: wrap; row-gap: 15px;
}
#div5 {
    color: white; margin-top: 10px; margin-left: 20px;
}
button {
    background-color: rgb(11, 148, 11);
}
.buttons {
    width: 100px;
}
#bmedia {
    background-color: rgb(166, 182, 19);
}
footer {
    flex-shrink: 0; display: flex; justify-content: space-between; background-color: rgb(11, 148, 11);
}
#imgfooter {
    width: 80px; height: 100px; margin-right: 10px; margin-top: 10px;
}
/* ------------------------------------------- */

/* form.html */
#pform {
    text-align: center; margin-top: 40px; font-size: 30px; color: rgb(11, 148, 11);
}
/* ----------------------------------------------- */

/* contato.html */
#div1contato {
    margin-left: 80px; margin-right: 80px; margin-top: 15px; margin-bottom: 10px;
}
#div2contato {
    text-align: center;
}
#p1contato {
    text-align: center; margin-top: 40px; font-size: 30px; color: rgb(11, 148, 11);
}
#p2contato {
    text-align: center; color: rgb(58, 54, 54);
}
#buttoncontato {
    background-color: rgb(11, 148, 11); color: white;
}
/* ----------------------------------------------------- */

/* equipe.html */
#p1equipe {
    text-align: center; margin-top: 40px; font-size: 30px; color: rgb(11, 148, 11);
}
#p2equipe {
    text-align: center; color: rgb(58, 54, 54);
}
#div1equipe {
    display: flex; justify-content: center; column-gap: 40px; flex-wrap: wrap;
}
.divsequipe {
    text-align: center;
}
.imgsequipe {
    width: 100px; height: 100px; text-align: center;
}
.p3equipe {
    color: rgb(11, 148, 11);
}
.p4equipe {
    color: rgb(58, 54, 54); margin-top: -15px;
}
/* ------------------------------------------------------- */

/* facil.html */
#div1facil {
    display: flex; justify-content: center; margin-top: 10px; flex-wrap: wrap; width: 100%; row-gap: 40px;
}
#formfacil {
    width: 80%; border: solid rgb(58, 54, 54) 2px; padding: 12px; justify-content: center; background-color: white;
}
.labels {
    color: black;
}
.labels2 {
    margin-left: 10px;
}
.text {
    margin-left: 10px; border-color: black;
}
.select {
    margin-left: 10px; height: 35px;
}
#div2facil {
    display: flex; justify-content: center; margin-top: 10px; column-gap: 10px; flex-wrap: wrap; row-gap: 10px; text-align: center;
}
.submit {
    background-color: rgb(11, 148, 11); color: white;
}
#div3facil {
    display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 20px; column-gap: 100px; row-gap: 50px;
}
#div4facil {
    justify-content: center; margin-top: 20px; flex-direction: column; width: 500px; text-align: center; flex-wrap: wrap; margin-left: 10px; margin-right: 10px; border: solid 1px black;
}
#p1facil {
    color: rgb(58, 54, 54); margin-top: 10px; border-bottom: solid 1px black; padding: 0px 12px 12px 12px;
}
#div5facil {
    width: 95%; text-align: justify;
}
.divsfacil {
    text-align: start; margin-left: 10px;
}
.divs2facil {
    display: flex; column-gap: 5px;
}
#navfacil {
    display: flex; justify-content: center;
}
.listafacil {
    background-color: rgb(11, 148, 11); color: white;
}
/* ---------------------------------------------------- */

/* resposta.html */
#div1res {
    margin-top: 20px; flex-wrap: wrap; margin-left: 5px; margin-right: 5px; border: solid 1px black;
}
#p1res {
    text-align: center; color: rgb(58, 54, 54); margin-top: 10px; border-bottom: solid 1px black; padding: 0px 12px 12px 12px;
}
#div2res {
    width: 98%; text-align: center;
}
.divsres {
    text-align: start; margin-left: 10px;
}
.divs2res {
    display: flex; column-gap: 5px;
}
#div3res {
    margin-left: 5px; margin-right: 5px; text-align: center; border: solid 1px black; padding-top: 10px; border-top: 0px;
}
.pres {
    color: rgb(58, 54, 54);
}
#pres {
    color: rgb(11, 148, 11);
}
#p2res {
    color: red;
}
#div4res {
    margin-left: 5px; margin-right: 5px; text-align: center; border: solid 1px black; border-top: 0px; height: 500px;
}
/* --------------------------------------------------------------------- */
