/* página selecionada da paginação */
#selecionado {
  color: white;
  background-color: rgb(0, 77, 0);
}

/* página selecionada da paginação */
#selecionado:hover {
  cursor: auto;
}

/* botões da paginação */
.listafacil:hover {
  cursor: pointer;
  color: black;
}

/* Configurando o input de palavra-chave */
#palavra-chave{
  width: 200px;
  height: 40px;
  background: rgb(235, 235, 224);
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
}

/*Botão e resposta de uma questão */
.container2 {
  display: flex;
  margin-bottom: 12px;
  column-gap: 20px;
}
/* Container de uma questão */
.question {
    margin: 40px 40px 0px 40px;
}
/* Corpo de uma questão (enunciado) */
.bodyquestion {
    padding: 0px 12px 0px 12px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/* Área de respostas de uma questão (botão de responder e radio buttons) */
.answerquestion {
}

/* Cabeçalho de uma questão */
.headerquestion {
    padding: 3px 10px 0px 10px;
    border-bottom: solid rgb(11, 148, 11);
}

/* Configurando os radios buttons */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Configurando os radios buttons */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Configurando os radios buttons */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 28px;
  background-color: white;
  border-radius: 50%;
  border: solid 1px black;
  color: green;
  border-color: green;
}

/* Configurando os radios buttons */
.container:hover input ~ .checkmark {
  background-color: green;
  color: white;
}

/* Configurando os radios buttons */
.container input:checked ~ .checkmark {
  background-color: green;
  color: white;
  border-color: white;
}

/* Configurando os radios buttons */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Configurando os radios buttons */
.container input:checked ~ .checkmark:after {
  position: absolute;
}

/* Configurando os radios buttons */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    color: white;
}

/* Configurando o botão de responder uma questão */
.responder {
  margin-left: 10px;
  width: 100px;
  height: 40px;
}

/* Configurando as opções do final de uma resposta */
.opcoes-questao {
  display: flex;
  border-top: solid rgb(11, 148, 11);
  justify-content: center; 

}
/* Configurando o texto das opções do final de uma resposta */
.texto-opcoes-questao {
}
/* Configurando o botão das opções do final de uma resposta */
.videoaula {
  background-color: white;
  margin-top: 10px;
  height: 40px;
  border: none!important;
}
/* Configurando o botão das opções do final de uma resposta */
.videoaula:hover {
  cursor: pointer;
  background-color: rgb(11, 148, 11);
  color: white;
  border-radius: 5px;
}

.videoaula:active {
  background-color: rgb(11, 148, 11)!important;
  color: white!important;
  border-radius: 5px!important;
}



/*texto da resposta */
.resposta {
  margin-top: 6px;
  padding: 5px;
  background-color: #F0F8FF;
  color: #910e23;
  border: 1px solid #910e23;
  border-right: none;
  border-top: none;
  border-bottom: none;
  margin-bottom: 5px;

}

/*texto da resposta */
.respostacerta {
  margin-top: 6px;
  padding: 5px;
  background-color: #F0F8FF;
  color: #0e4c36;
  border: 1px solid #0e4c36;
  border-right: none;
  border-top: none;
  border-bottom: none;
  margin-bottom: 5px;

}

/*Gambiarra pra não trocar de página quando clicar no botão */
.hide { 
  position:absolute;
  top:-1px;
  left:-1px;
  width:1px;
  height:1px;
  display: none;
}

/*Filtro de seleção */

.select-btn, .options li{
  display: flex;
  cursor: pointer;
  align-items: center;
}

/*Filtro de seleção */
.select-btn {
  height: 40px;
  font-size: 12px;
  display: flex;
  width: 200px;
  text-align: center;
  padding: 0 20px;
  border-radius: 7px; 
  background: rgb(235, 235, 224);
  align-items: center;
  justify-content: space-between;
}

/*Filtro de seleção */
.select-btn i{
  font-size: 12px;
  transition: transform 0.3s linear;
}

/*Filtro de seleção */
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}

/*Filtro de seleção */
.content {
  margin-top: 10px;
  width: 200px;
  padding: 13px;
  background: rgb(235, 235, 224);
  border-radius: 7px;
  display: none;
}

/*Filtro de seleção */
.wrapper.active .content{
  display: block;
}

/*Filtro de seleção */
.content .search{
  position: relative;
}

/*Filtro de seleção */
.search i{
  left: 15px;
  line-height: 40px;
  position: absolute;
  font-size: 12px;
  color: black;
}

/*Filtro de seleção */
.search input{
  height: 40px;
  width: 100%;
  font-size: 11px;
  padding: 0 15px 0 43px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

/*Filtro de seleção */
.content .options{
  margin-top: 10px;
  margin-left: -40px;
  max-height: 250px;
  overflow-y: auto;
}

/*Filtro de seleção */
.options::webkit-scrollbar{
  width: 7px;
}

/*Filtro de seleção */
.options::webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 21px;
}

/*Filtro de seleção */
.options::webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}

/*Filtro de seleção */
.options li{
  height: 50px;
  border-radius: 5px;
  padding: 0 13px;
  font-size: 12px;
}

/*Filtro de seleção */
.options li:hover{
  background: rgb(255, 255, 255);
}

/*div dos filtros e botões */
#forms {
  margin-top: 20px;
  display: flex;
  margin: 10px auto; 
  justify-content: space-around;  
  flex-wrap: wrap;
  row-gap: 20px;

}
/* Colunas */
.row {
  width: min-content;
}

/* Parágrafos */
.ps{
  font-size: 12px;
}

/* Botões da div dos filtros e botões */
#botoes {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

/*Ajustando a responsividade dos videos */
@media (max-width: 660px) and (min-width: 300px){
  .videos{
    width: 300px;
    height: 300px;
  }
}

/*Ajustando a responsividade dos videos */
@media (max-width: 328px) and (min-width: 210px){
  .videos{
    width: 200px;
    height: 200px;
  }
}

/*Ajustando a responsividade dos radios buttons */
@media (min-width: 1620px){
  .container{
    left: -180px;
  }
}

/*Ajustando a responsividade dos radios buttons */
@media (min-width: 1934px){
  .container{
    left: -320px;
  }
}

/*Ajustando a responsividade dos radios buttons */
@media (max-width: 606px){
  .container{
    left: 20px;
  }
}

/*Ajustando a responsividade dos radios buttons */
@media (min-width: 2300px){
  .container{
    left: -520px;
  }
}

